*{
    margin: 0;
    padding: 0;
    text-decoration : none ;
    outline : none;
}
body{
   
    width: 100% ;
    background-color: white ;
}
.fb_logo{
    height: 40%;
    width: 50%;
}
.login{
    border-radius: 25px;
    background-color : white;
    position: absolute ;
    width : 320px ;
    height: 270px;
    padding: 10px 5px 20px 5px;
    margin: -10vh 850px;
    border-radius: 8px;
    box-shadow: 8px 5px 6px -7px;
}